@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #6495f0;
  font-weight: 500;
}
